In [1]:
num1 = int(input("Enter num 1 = "))
num2 = int(input("Enter num 2 = "))
sum = num1 + num2
print("Sum: ", sum)
print("Type num1 = ", type(num1), "\nType num2 = ", type(num2))

Enter num 1 =  2
Enter num 2 =  3

Sum:  5
Type num1 =  <class 'int'>
Type num2 =  <class 'int'>

In [6]:
str = input("Enter string: ")
print("1st: ", str[0])
print("Mid: ", str[len(str)//2])
print("Last: ", str[-1])
print("Length: ", len(str))

Enter string:  hello

1st:  h
Mid:  l
Last:  o
Length:  5

In [9]:
list1 = ["Sultan", 19, 3.56]
list1[1] = 20
list1.append("Bomb")
print(list1)

['Sultan', 20, 3.56, 'Bomb']

In [10]:
pair = (1,2,3,4,6)
sum = 0
for i in pair:
    print(i)
    sum += i
print("Sum = ", sum)

1
2
3
4
6
Sum =  16

In [20]:
list1 = []
for i in range(10):
    list1.append(int(input("Input: ")))
set1 = set(list1)
print(list1)
print(set1)
print("Duplicates Removed: " ,len(list1) - len(set1))

Input:  1
Input:  2
Input:  3
Input:  2
Input:  1
Input:  5
Input:  6
Input:  45
Input:  6
Input:  7

[1, 2, 3, 2, 1, 5, 6, 45, 6, 7]
{1, 2, 3, 5, 6, 7, 45}
Duplicates Removed:  3

In [21]:
students = [
        {"name":"Sultan", "marks":86, "grade":''},
        {"name":"Hammad", "marks":75, "grade":''},
        {"name":"Ali H", "marks":66, "grade":''},
        {"name":"Atif", "marks":56, "grade":''}
    ]

for s in students:
    if s["marks"] > 86:
        s["grade"] = 'A'
    elif s["marks"] > 76:
        s["grade"] = 'B'
    elif s["marks"] > 66:
        s["grade"] = 'C'
    elif s["marks"] > 56:
        s["grade"] = 'D'
    else:
        s["grade"] = 'F'

for s in students:
    print(s)

{'name': 'Sultan', 'marks': 86, 'grade': 'B'}
{'name': 'Hammad', 'marks': 75, 'grade': 'C'}
{'name': 'Ali H', 'marks': 66, 'grade': 'D'}
{'name': 'Atif', 'marks': 56, 'grade': 'F'}

In [3]:
num = int(input("Enter: "))
isPrime = False
for i in range(int(num**0.5)):
    if i % 2 != 0:
        print("Prime")
        isPrime = True
        
if not isPrime:
    print("Not Prime")

Enter:  1

Not Prime

In [1]:
count = 0
for i in range(0,51):
    if i%2 == 0:
        print(i)
        count+=1

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [2]:
num = int(input("Enter: "))
i=1
while i<=10:
    print(num, 'x', i, '=', num*i)
    i+=1

Enter:  5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [1]:
def get_max_number(*args):
    return max(args)

def print_student_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key} : {value}")

print(get_max_number(10, 55, 30, 99, 4))

print_student_info(name="Sultan", age=22, grade="A")

99
name : Sultan
age : 22
grade : A